.faber-blocks
  list-style: none

  faber-block
    display: block

    .block
      position: relative
      border: 2px solid transparent

      &:hover,
      &.selected
        border-color: #eee

        .faber-block-actions
          display: block

    .faber-block-actions
      display: none
      position: absolute
      right: 0.2em
      top: 0.2em

    button.faber-block-close
      font-size: 1.2em
      color: $blue
      border: none
      background: transparent
      cursor: pointer

      +appearance(none)

  faber-component-renderer
    display: block

    & > div
      padding: 1em