+keyframes(faber-block-moving)
  0%
    border-color: #80b2ff
  60%
    border-color: #80b2ff
  100%
    border-color: #eee

.faber-blocks
  list-style: none

  faber-block
    display: block

    .faber-block-item
      position: relative
      border: 2px dotted #eee

      &.faber-block-preview,
      &.faber-element-block
        border: 2px solid transparent

        &.faber-block-hover,
        &.faber-block-selected
          border-color: #eee

      &.faber-block-hover,
      &.faber-block-selected
        & > .faber-block-actions
          display: block

      &.faber-block-moving
        +animation(faber-block-moving 1s)

    .faber-block-actions
      font-family: Verdana, Geneva, sans-serif
      font-size: 16px

      display: none
      position: absolute
      right: 0
      top: 0
      padding: 5px 0.8em
      height: 32px

      +box-sizing(border-box)

    .faber-group-item-block
      & > .faber-block-actions
        z-index: 1

    .faber-block-position
      position: relative

    .faber-group-block-actions,
    .faber-group-item-block-actions
      display: inline-block

  faber-group-block
    display: block
    padding: 2em 1em 1em 1em
    background: #fafafa

    &.faber-group-block-preview
      background: transparent

    .faber-group-component
      position: absolute
      left: 0
      top: 5px
      padding: 0 1em

  faber-group-item-block
    display: block
    padding: 1em
    background: #fff
    min-height: 32px

    +box-sizing(border-box)

    & > faber-components:first-of-type
      margin-top: 2.5em

  faber-component-renderer
    display: block

    & > div
      padding: 1em

  .faber-block-preview
    faber-component-renderer > div
      padding: 0

