faber-components
  display: block
  position: relative
  text-align: center

  .faber-components-line
    position: absolute
    top: 50%
    width: 100%
    height: 6px
    margin-top: -3px

    +box-sizing(border-box)

    // Stripe
    background-color: #f5f5f5
    +background-size(6px 6px)
    +background-image(linear_gradient(-45deg, #fff 25%, transparent 25%, transparent 50%, #fff 50%, #fff 75%, transparent 75%, transparent))

    faber-group-block &
      background-color: #efefef

    faber-group-item-block &
      background-color: #f7f7f7

  &:hover
    .faber-components-line
      top: 0
      height: 100%
      margin-top: 0
      background: #eee

      +transition(all 0.15s)

    i
      color: $blue
      +opacity(1)
      +transition(all 0.3s)

  i
    +opacity(0)
    +transition(opacity 0.3s)

    display: inline-block
    position: relative
    color: darken(#eee, 10%)
    font-size: 1.2em
    line-height: 0
    width: 100%
    cursor: pointer
    margin: 2px 0 0 0
    padding: 0

    +box-sizing(border-box)

  button
    display: inline-block
    margin-bottom: 0
    font-weight: 500
    text-align: center
    vertical-align: middle
    cursor: pointer
    border: 1px solid #6aa3d5
    white-space: nowrap
    padding: 0.5em 0.8em
    font-size: 15px
    line-height: 1.4em

    color: $blue
    background: transparent

    +border-radius(4px)

  button.faber-group-button
    color: green
    border-color: green

  .faber-available-components
    position: relative
    list-style: none
    margin: 0
    padding: 0.75em 1em
    background: #eee

    .faber-component
      display: inline-block
      padding: 0.25em 0.5em

      &:first-child
        padding-left: 0