.faber-select
  font-family: Verdana, Geneva, sans-serif
  font-size: 16px

  i
    display: inline-block
    margin-left: 0.3em

  span
    font-size: 0.9em
    color: $blue
    display: inline-block
    position: relative

  select
    +appearance(none)
    +border-radius(0)
    +opacity(0)

    border: none
    font: inherit
    font-size: 1em
    color: $blue
    background: transparent
    cursor: pointer

    position: absolute
    top: 0
    left: 0
    width: 100%
    margin: 0