doctype html
html(lang="en")
    head
        title Faber
        link(href="faber.css", type="text/css", rel="stylesheet")
        script(src="angular.js")
        script(src="angular-animate.js")
        script(src="faber.js")
    body
        #faber(ng-app="faber")
            faber-editor
