doctype html
html(lang="en")
  head
    title Faber
  body
    #faber(ng-app="faber")
      faber-editor

  //script(data-main="/js/main", src="/lib/require.js")

  script(src="/lib/angular.js")
  script(src="/lib/angular-local-storage.js")
  script(src="/lib/angular-slugify.js")
  script(src="/lib/angular-ui-utils.js")

  script(src="/js/faber/faber.js")

  // Controllers
  script(src="/js/faber/controllers/EditorController.js")

  // Services
  script(src="/js/faber/services/ContentService.js")

  // Directives
  script(src="/js/faber/directives/templates.js")
  script(src="/js/faber/directives/EditorDirective.js")
