doctype html
html(lang="en")
  head
    title Faber

    script(src="js/lib/angular/angular.js")
    script(src="js/lib/angular-local-storage/angular-local-storage.js")
    script(src="js/lib/angular-slugify/angular-slugify.js")
    script(src="js/lib/angular-ui-utils/ui-utils.js")

    // Classes
    script(src="js/faber/classes/FaberComponent.js")

    // Directive Templates
    script(src="js/faber/directives/templates.js")

    script(src="js/faber/faber.js")

    // Controllers
    script(src="js/faber/controllers/BlockController.js")
    script(src="js/faber/controllers/EditorController.js")

    // Directives
    script(src="js/faber/directives/BlockDirective.js")
    script(src="js/faber/directives/EditorDirective.js")
    script(src="js/faber/directives/ComponentsDirective.js")

    // Services
    script(src="js/faber/services/ComponentsService.js")
    script(src="js/faber/services/ContentService.js")

  body
    #faber(ng-app="faber")
      faber-editor