doctype html
html(lang="en")
  head
    title Faber

    link(href="css/faber.css", type="text/css", rel="stylesheet")

    // Medium Editor
    link(href="js/lib/medium-editor/dist/css/medium-editor.css", type="text/css", rel="stylesheet")
    link(href="css/faber-rich-text-component.css", type="text/css", rel="stylesheet")

    script(src="js/lib/medium-editor/dist/js/medium-editor.js")

    // Default Components
    script(src="js/components/RichTextComponent.js")
    script(src="js/components/OrderedListComponent.js")

    //script(src="js/lib/jquery/dist/jquery.js")
    script(src="js/lib/angular/angular.js")
    script(src="js/lib/angular-animate/angular-animate.js")

    script(src="js/faber/faber.js")

    // Classes
    script(src="js/faber/classes/FaberComponent.js")

    // Directive Templates
    script(src="js/faber/directives/templates.js")

    // Controllers
    script(src="js/faber/controllers/BlockController.js")
    script(src="js/faber/controllers/BlockListController.js")
    script(src="js/faber/controllers/EditorController.js")
    script(src="js/faber/controllers/ElementBlockController.js")
    script(src="js/faber/controllers/GroupBlockController.js")
    script(src="js/faber/controllers/GroupItemBlockController.js")

    // Directives
    script(src="js/faber/directives/BlockDirective.js")
    script(src="js/faber/directives/BlockListDirective.js")
    script(src="js/faber/directives/EditorDirective.js")
    script(src="js/faber/directives/ElementBlockDirective.js")
    script(src="js/faber/directives/GroupBlockDirective.js")
    script(src="js/faber/directives/GroupItemBlockDirective.js")
    script(src="js/faber/directives/ComponentsDirective.js")
    script(src="js/faber/directives/ComponentRendererDirective.js")
    script(src="js/faber/directives/TrustHtmlDirective.js")
    script(src="js/faber/directives/RenderDirective.js")

    // Animations
    script(src="js/faber/animations/BlockRepeatAnimation.js")

    // Services
    script(src="js/faber/services/ConfigService.js")
    script(src="js/faber/services/ComponentsService.js")
    script(src="js/faber/services/ContentService.js")

  body
    #faber(ng-app="faber")
      faber-editor

    script(type='text/javascript').
      var faberConfig = {
        // (array) List of components to be imported and managed by components service
        components: [
          RichTextComponent
        ,
          function() {
            return {
              name: 'Element Component',
              id: 'element-component',
              type: 'element',
              template: '<input type="text" ng-model="block.content"/>'
            }
          }
        ,
          OrderedListComponent
        ,
          function() {
            return {
              name: 'Group Component',
              id: 'group-component',
              type: 'group',
              template: '<ul><li>group component item</li></ul>'
            }
          }
        ]
      };
      faber.init(faberConfig);
