.heading {{$id}} ({{component.template}})

ul.faber-available-components
  li.faber-component(ng-repeat="comp in components()")
    button(ng-click="add({component: comp.template })") {{comp.template}}

ol
  li(ng-repeat="data in block.blocks")
    faber-block(data-faber-block-content="data")