div(ng-click="toggleComponents($event)")
  i.faber-icon-plus(ng-if="!showingComponents")
  ul.faber-available-components(ng-if="showingComponents")
    li.faber-component(ng-repeat="comp in components | filter : {type: 'element'}")
      button(ng-click="insertBlock($event, {component: comp.id })") {{comp.name}}

    li.faber-component(ng-if="hasGroupComponents()")
      button.faber-group-button(ng-click="insertGroupBlock($event)")
        span.faber-icon-group
        | Group

    li.faber-component(ng-if="component.type == 'group'")
      button.faber-group-button(ng-click="insertGroupItemBlock($event)") Item
