div(ng-click="toggleComponents()")
  i.fa.fa-plus-square(ng-if="!showingComponents")
  ul.faber-available-components(ng-if="showingComponents")
    li.faber-component(ng-repeat="comp in components | filter : {type: 'element'}")
      button(ng-click="insertBlock($event, {component: comp.id })") {{comp.name}}

    li.faber-component(ng-if="hasGroupComponents()")
      button(ng-click="insertGroupItemBlock($event)") Group

      //ul(ng-if="showingGroupComponents")
        li(ng-repeat="groupComp in components | filter : {type: 'group'}")
          button(ng-click="insertBlock($event, {component: groupComp.id })") {{groupComp.name}}
