label
  input(type="checkbox", ng-model="expanded")
  | {{$id}}

div(ng-if="expanded")
  faber-component-renderer
  faber-components
  ol.faber-blocks
    li.faber-block(ng-repeat="data in block.blocks")
      faber-block(data-faber-block-content="data")