label.faber-group-item-title
  input(type="text", placeholder="Type the item's title", ng-model="block.title")

faber-block-list(ng-if="isExpanded",
                 data-faber-block="block",
                 data-faber-available-components="components")
