.faber-block-item(ng-class="{'faber-element-block': isElementBlock, 'faber-group-block': isGroupBlock, 'faber-group-item-block': isGroupItemBlock, 'faber-block-preview': isPreview,'faber-block-hover': isMouseHover, 'faber-block-selected': isSelected, 'faber-block-moving': isMoving}", ng-mouseover="mouseOver($event)", ng-mouseout="mouseOut($event)", ng-click="onBlockClick($event)")

  .faber-block-actions
    .faber-group-block-actions(ng-if="isGroupBlock")
      button.faber-edit-group-button.faber-icon-edit.toggled-on(title="Edit", ng-if="isPreview", ng-click="edit($event)")
      button.faber-preview-group-button.faber-icon-edit(title="Preview", ng-if="!isPreview", ng-click="preview($event)")

    .faber-group-item-block-actions(ng-if="isGroupItemBlock")
      button.faber-icon-plus(title="Expand", ng-if="!isExpanded", ng-click="expand($event)")
      button.faber-icon-minus(title="Collapse", ng-if="isExpanded", ng-click="collapse($event)")

    label.faber-select.faber-block-position
      //span
      button.faber-icon-sort(title="Change order")
      select(ng-model="$parent.$index", ng-options="i as (i == $parent.$index ? (i+1)+' (current)' : i+1) for i in indexRange()", ng-change="onSelectChange()")
    button.faber-icon-remove(title="Remove", ng-click="removeSelf()")

  faber-group-item-block(ng-if="isGroupItemBlock")
  faber-element-block(ng-if="isElementBlock")
  faber-group-block(ng-if="isGroupBlock", ng-class="{'faber-group-block-preview': isPreview}")
