div
  button import
  button export
  input(type="checkbox", ng-model="expanded")

faber-components

ol.faber-blocks
  li.faber-block(ng-repeat="data in block.blocks")
    faber-block(data-faber-block-content="data")