//- usage: <faber-block-list data-faber-block="the-block-rendering-the-list"
                             data-faber-available-components="list-of-availble-components">
faber-components
.faber-blocks
  .faber-block-repeat(ng-repeat="bl in block.blocks")
    faber-block(data-faber-block-content="bl")
    faber-components
