select(ng-model="currentComponent", ng-options="c.id as c.name for c in groupComponents")

faber-component-renderer(data-faber-component-block="block")

faber-components

.faber-blocks
  .faber-block-repeat(ng-repeat="data in block.blocks")
    faber-block(data-faber-block-content="data")

    faber-components